# Bỏ qua các thư mục
.cache/
.android/
#.npm/
.java/
.msf4/
.vim.bak/
.rustup/
#.vim/plugged/
#.ssh/
#.oh-my-zsh/
#gh/
github_boybh
OneDriver/
.onedrivecli-env/
.java/

# Bỏ qua các tập tin
.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib/libcore-959d3389fa3da8a5.rlib
*Zone.Identifier
.*~
..vimrc.un~.
.gitignore.un~
.gitignore.un~
.vimrc.bak
.zshrc.bck
.zshrc~
addon-backup_12-09-2024.tar.gz
fzf-backup_12-09-2024.tar.gz
install.sh
ngrok-v3-stable-linux-amd64.tgz
oh-my-zsh-backup_12-09-2024.tar.gz
user-config-backup_12-09-2024.tar.gz
wsl-backup_12-09-2024.tar.gz
zshrc-backup_12-09-2024.txt
.wget-hsts
.zcompdump
.zcompdump-ACER-5.9
.zcompdump-ACER-5.9.zwc
.zcompdump.ACER.15039
.sudo_as_admin_successful
.rustup/
.autoenv/
.config/.vim/
.local/bin/git-filter-repo
.local/share/pipx/venvs/git-filter-repo/
.local/state/pipx/log/cmd_2024-12-04_03.25.35.log
.config/zsh/zsh_history
/home/kali/.gnupg
